Package: netskao.wechatpurification
Name: 微信净化END
Depends: mobilesubstrate, firmware (>= 12.0)
Description: 微信净化，还原聊天本质，干净的微信给你，仅支持8.0.29及以上版本，设置位于微信-设置
Maintainer: Nets
Author: Netskao
Architecture: iphoneos-arm64
Version: 4.2-6-END
Installed-Size: 16676
Section: 微信插件
Icon: https://raw.githubusercontent.com/xiyan-99/xiyan-99.GitHub.io/f8aa36c87e47485c8c0b5271df358119f04297b2/repo/img/icon/wxicon.jpg
