Package: com.huami.WCPulse
Name: WCPulse
Description: WCPulse
Maintainer: huami
Author: huami
Depends: mobilesubstrate (>= 0.9.5000)
Architecture: iphoneos-arm64
Version: 1.0-9
Installed-Size: 388
Section: 微信插件
icon: https://raw.githubusercontent.com/xiyan-99/xiyan-99.GitHub.io/f8aa36c87e47485c8c0b5271df358119f04297b2/repo/img/icon/wxicon.jpg
