Package: com.wechat.enhance
Name: WeChatEnhance
Description: 微信插件，支持聊天按钮布局自定义等。
Maintainer: 愫 茶
Author: 愫 茶
Depends: mobilesubstrate (>= 0.9.5000)
Architecture: iphoneos-arm64
Version: 1.4-3
Installed-Size: 2028
Section: 微信插件
Icon: https://raw.githubusercontent.com/xiyan-99/xiyan-99.GitHub.io/f8aa36c87e47485c8c0b5271df358119f04297b2/repo/img/icon/wxicon.jpg
