Package: com.netskao.wcabtestvoicerecordview
Name: WCABTestVoiceRecordView
Depends: mobilesubstrate, firmware (>= 14.0)
Description: WeChat Enables AB Tested VoiceRecordView New Button, Only 8.0.60+
Author: Netskao
Maintainer: Nets
Architecture: iphoneos-arm
Version: 1.1-1
Installed-Size: 72
Section: 微信插件
icon: https://raw.githubusercontent.com/xiyan-99/xiyan-99.GitHub.io/f8aa36c87e47485c8c0b5271df358119f04297b2/repo/img/icon/wxicon.jpg
