Package: com.hl.yuanjiao
Name: 全局圆角
Version: 1.8.2
Architecture: iphoneos-arm
Description: 微信全局圆角
Maintainer: WCYuanJiao
Author: WCYuanJiao
Depends: mobilesubstrate (>= 0.9.5000), firmware (>= 12.0), preferenceloader (>= 2.2.3)
Section: 微信插件
Icon: https://raw.githubusercontent.com/xiyan-99/xiyan-99.GitHub.io/f8aa36c87e47485c8c0b5271df358119f04297b2/repo/img/icon/wxicon.jpg
