Package: com.tencent.themebox
Name: 主题盒子
Description: 微信主题盒子
Maintainer: WeChat
Author: WeChat
Depends: mobilesubstrate (>= 0.9.5000)
Architecture: iphoneos-arm
Version: 2.0.6-1
Installed-Size: 9028
Section: 微信插件
Icon: https://raw.githubusercontent.com/xiyan-99/xiyan-99.GitHub.io/f8aa36c87e47485c8c0b5271df358119f04297b2/repo/img/icon/wxicon.jpg
